<html>
<head>
  <title>Angular Atm.</title>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="AngularATM" ng-controller="MainCtrl">
    <div ng-switch on="loginData"> 
      <div ng-switch-when="false" ng-include="'login'"></div>
      <div ng-switch-when="true" ng-include="'logout'"></div>
   </div>

  <script type="text/ng-template" id="login">
    <button ng-click="login()">Login</button>
  </script>

  <script type="text/ng-template" id="logout">
    <button ng-click="logout()">Logout</button>
  </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.js"></script> <!-- Used for rendering bold tags in job search results -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="angularApp.js"></script>
    <script type="text/javascript" src="path_to_numpad_folder/jquery.numpad.js"></script>  
</body>
</html>
